.contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--fg-base);
  width: 100%;
}

.contact a {
  color: var(--fg-base);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.contact a:hover {
  opacity: 0.5;
}
